
@import "tailwindcss";

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}

@layer components {
  /* Customização do InputText */
  .p-inputtext {
    font-family: 'Poppins', sans-serif !important;
  }

  .p-inputtext::placeholder {
    color: #9CA3AF;
    font-weight: 400;
  }

  /* Customização do Dropdown */
  .p-dropdown {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    align-items: center;
  }

  .p-dropdown .p-dropdown-trigger {
    width: 3rem;
  }

  .p-dropdown-panel {
    font-family: 'Poppins', sans-serif !important;
  }

  /* Ícone do filtro customizado */
  .p-dropdown .p-dropdown-trigger .p-icon {
    color: #6B7280;
  }

  .input-focus-group input:focus,
  .input-focus-group .p-password input:focus,
  .input-focus-group .p-inputtext:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}